<form #form="ngForm" (ngSubmit)="handleSubmit(form)">
<div><label for="UserName">USERNAME</label>
    <input type="text" name="UserName" id="UserName"
    #username="ngModel" [(ngModel)]="UserName"
    minlength="5">
 @if (username.getError('minlength') && username.touched) {
        <p style="color:red">Please enter at least 5 characters</p>
    }</div>
<div>
   
    <label for="Email">EMAIL ID</label>
    <input type="email" name="Email" id="Email" [(ngModel)]="Email"
    #email="ngModel"></div>

@if (email.getError('email') && email.touched) {
    <p style="color:red">Please enter a valid emai  l address</p>
  }
<div>
    <label for="PhoneNo">PHONENO</label>
    <input type="text" name="PhoneNo" id="PhoneNo"
    [(ngModel)]="PhoneNo"
    
    #phoneno="ngModel" minlength="10" maxlength="10">
    @if ((phoneno.getError('minlength') || phoneno.getError('maxlength'))&&phoneno.touched) {

    <p style="color:red">Please enter a valid phone number</p>
    }
    
</div>
<div>
    <label for="Name">NAME</label>
    <input type="text" name="Name" id="Name"
    [(ngModel)]="Name"
    #name="ngModel">
</div>
<div>
<label for="Password">PASSWORD</label>
    <input type="text" name="Password" id="Password"
    [(ngModel)]="PasswordEnter"
    #password="ngModel"
    minlength="8"
    
 >
 @if (password.getError('minlength')) {
    <p style="color:red">Please create 8 length password</p>
 }
</div>
<div>

<label for="ConfirmPassword">CONFIRM PASSWORD</label>
    <input type="text" name="ConfirmPassword" id="ConfirmPassword"
    [(ngModel)]="ConfirmPasswordEnter"
    #confirmpassword="ngModel"
    minlength="8"
    
 >
 @if (password!==confirmpassword && confirmpassword.touched) {
    <p style="color:red">Please enter the same password</p>
 }
</div>


  <button type="submit">Submit</button>


</form>
